
.category-column {
  border: 2px solid lightgrey;
  border-radius: 10px;
  display: table;
  width: 100%;
  padding-bottom: 5px;
}

.category-column td {
  cursor: pointer;
}

.table td, .table th {
  text-align: center;
  vertical-align: middle;
}
